<?xml version="1.0"?>


<!-- configSource.config -->
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AcmeBiz-20140921224432;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AcmeBiz-20140921224432.mdf" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEF.csdl|res://*/NorthwindEF.ssdl|res://*/NorthwindEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:qrmyvuckm5.database.windows.net,1433;Database=Northwind;User ID=dbuser@qrmyvuckm5;Password=p@$$word123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;
;MultipleActiveResultSets=True;App=EntityFramework;initial catalog=Northwind&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
