<?xml version="1.0" encoding="utf-8" ?>
<!-- configSource.config -->
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DBNAME ;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-DBFile.mdf" />
  <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEF.csdl|res://*/NorthwindEF.ssdl|res://*/NorthwindEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=SERVERX,1433;Database=Northwind;User ID=USER;Password=PASSWORD;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;
;MultipleActiveResultSets=True;App=EntityFramework;initial catalog=Northwind&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
